<h1>About Page</h1>
<p>Pinteresting is a fake Pinterest site I created during <a href = "techtalentsouth.com">Tech Talent South</a> 8 Week Immersion Coding Bootcamp. It exemplifies my ability to great Ruby on Rails applications and incorporate gems, HTML5, CSS3, and JavaScript code. Feel free to look around!</p>
